<form method="post" action="{{ path('dossier_delete', {'id': dossier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this dossier?');">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn">Delete</button>
</form>
